<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_header_bg }}">

  {%- if page_title -%}
    <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  {%- else -%}
    <title>{{ shop.name }}</title>
  {%- endif -%}

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

  {%- render 'meta-tags' -%}

  {{ content_for_header }}

  {%- render 'custom-fonts' -%}

  {{ 'base.css' | asset_url | stylesheet_tag }}

  <style>
    :root{
      --color-jungle-green: {{ settings.color_jungle_green }};
      --color-roast-brown: {{ settings.color_roast_brown }};
      --color-island-gold: {{ settings.color_island_gold }};
      --color-faded-cream: {{ settings.color_faded_cream }};
      --color-background: {{ settings.color_background }};
      --color-text: {{ settings.color_text }};
      --color-accent: {{ settings.color_accent }};
      --color-header-bg: {{ settings.color_header_bg }};
      --color-footer-bg: {{ settings.color_footer_bg }};
      --body-letter-spacing: {{ settings.body_letter_spacing }}px;
      --page-width: {{ settings.page_width }}px;
      --section-spacing: {{ settings.section_spacing }}px;
    }
  </style>
</head>
<body>
  <a class="skip-to-content" href="#MainContent">Skip to content</a>

  {% section 'header' %}

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {{ 'global.js' | asset_url | script_tag }}
</body>
</html>
